@font-face {
    font-family: "helveticaregular";
    src: url("../fonts/helvetica-webfont.woff2") format("woff2"), url("../fonts/helvetica-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticabold";
    src: url("../fonts/helvetica-bold-webfont.woff2") format("woff2"), url("../fonts/helvetica-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticabold_oblique";
    src: url("../fonts/helvetica-boldoblique-webfont.woff2") format("woff2"), url("../fonts/helvetica-boldoblique-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticacompressed";
    src: url("../fonts/helvetica-compressed-5871d14b6903a-webfont.woff2") format("woff2"), url("../fonts/helvetica-compressed-5871d14b6903a-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticaoblique";
    src: url("../fonts/helvetica-oblique-webfont.woff2") format("woff2"), url("../fonts/helvetica-oblique-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticarounded_bold";
    src: url("../fonts/helvetica-rounded-bold-5871d05ead8de-webfont.woff2") format("woff2"), url("../fonts/helvetica-rounded-bold-5871d05ead8de-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

#topo {
    height: 70px;
}
header.header-jobs {
    position: fixed;
    top: -200px;
}
header.active {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #fff;
    top: -200px;
    transition: all 0.2s;
}
header.active.nav-active {
    top: 0;
}
header.active h1 {
    margin-top: 0;
    height: 72px;
}
p {
    font-family: "EB Garamond", serif;
}
h1 {
    font-family: "helveticaregular";
    font-weight: 300;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
h1 a {
    color: #000;
}
.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}
.hero h2 {
    font-size: 110px;
    font-family: "helveticabold";
    text-align: center;
    width: 600px;
    margin: 70px auto;
    letter-spacing: -0.05em;
    line-height: 97%;
}
.home-description {
    display: flex;
    flex-direction: column;
}
.home-description p {
    width: 440px;
    margin: 80px 0;
    font-size: 22px;
}
.home-description p:last-of-type {
    align-self: flex-end;
    text-align: left;
    width: 430px;
}
.works {
    background: #000000;
    margin: 100px 0 0;
    padding: 100px 0 240px;
    color: #ffffff;
}
.works h6 {
    font-size: 28px;
    font-family: "EB Garamond", serif;
    margin-bottom: 100px;
}
.works ul li {
    margin-bottom: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.works ul li:last-of-type {
    border: none;
    padding: 0;
    margin: 0;
}
.works ul li a {
    color: #ffffff;
}
.works ul li a h3 {
    font-family: "helveticabold";
    font-size: 96px;
}
.works ul li a p {
    font-size: 22px;
    margin-top: 15px;
}
.contact {
    background: rgba(0, 133, 255, 0.9);
    padding: 100px 0;
    color: #ffffff;
}
.contact h6 {
    font-size: 28px;
    font-family: "EB Garamond", serif;
    margin-bottom: 100px;
}
.contact ul {
    font-family: "helveticabold";
    text-align: right;
    font-size: 75px;
}
.contact ul a {
    color: #ffffff;
    text-decoration: underline;
}
.hero-qc {
    background: #eaeaea;
}
.hero-qc-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    position: relative;
}
.hero-qc-container img {
    width: 1061px;
    height: 961px;
}
.hero-qc-container div {
    text-align: right;
    margin-top: 80px;
}
.hero-qc-container div h2 {
    font-size: 110px;
    font-family: "helveticabold";
    letter-spacing: -0.05em;
    line-height: 97%;
}
.hero-qc-container div h3 {
    font-family: "helveticaregular";
    font-size: 30px;
    margin: 10px 0;
    line-height: 32px;
    font-weight: 100;
}
.hero-qc-container:after {
    content: "";
    background-image: url("../img/qc/cup-min.png");
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    right: -40px;
    background-size: contain;
}
.section-1 {
    margin-bottom: 200px;
}
.section-1 h6 {
    text-align: right;
    margin: 20px 0 100px;
    font-size: 18px;
    font-family: "EB Garamond", serif;
    font-weight: 100;
}
.section-1 .text {
    font-size: 22px;
    margin-bottom: 50px;
    font-family: "EB Garamond", serif;
    display: flex;
}
.section-1 .text b {
    display: inline-block;
    width: 250px;
}
.section-1 .text p {
    width: 75%;
}
.section-2 {
    margin-left: 250px;
    margin-bottom: 200px;
}
.section-2 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.section-2 p {
    font-size: 22px;
    width: 500px;
    margin: 10px 0 20px;
}
.section-3 {
    position: relative;
}
.section-3 .container {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.section-3 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.section-3 p {
    font-size: 22px;
    width: 600px;
    margin: 10px 0 20px;
}
.section-3:after {
    content: "";
    background-image: url("../img/qc/magazines-min.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 620px;
    height: 500px;
    top: 60px;
    background-size: contain;
}
.section-4 {
    margin: 200px 0;
    text-align: center;
}
.section-4 p {
    font-size: 22px;
    margin: 10px 0 20px;
}
.section-4 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
    margin-top: 150px;
}
.home-page {
    background: #e5e5e5;
    padding: 100px 0 0;
}
.home-page .container {
    display: flex;
    align-items: center;
}
.home-page h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.home-page h4 {
    font-size: 22px;
    font-weight: 900;
}
.home-page p {
    font-size: 22px;
    margin: 10px 0 50px;
}
.home-page img {
    width: 60%;
}
.product-page {
    background: #e5e5e5;
    padding-bottom: 0;
}
.product-page .container {
    display: flex;
    align-items: center;
}
.product-page img {
    width: 60%;
}
.product-page h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.product-page p {
    font-size: 22px;
    margin: 10px 0 50px;
}
.question {
    padding: 100px;
    text-align: center;
}
.question h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.question p {
    font-size: 22px;
    margin: 30px 0 50px;
}
.question img {
    width: 100%;
}
.question-2 {
    position: relative;
}
.question-2 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
    text-align: right;
}
.question-2 p {
    font-size: 22px;
    margin: 30px 0 0px;
    text-align: right;
}
.question-2 img {
    width: 100%;
}
.corrected-answers {
    background: #f5f5f5;
    padding: 100px 0 0;
    margin-top: 100px;
}
.corrected-answers .container {
    display: flex;
    align-items: center;
}
.corrected-answers img {
    width: 60%;
}
.corrected-answers h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.corrected-answers p {
    font-size: 22px;
    margin: 30px 0 50px;
}
.ranking-page {
    background: #f5f5f5;
}
.considerations {
    padding: 100px 0;
    text-align: center;
}
.considerations h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.considerations p {
    font-size: 22px;
    margin: 30px 0 50px;
}
.footer-intern {
    background: #0085ff;
    justify-content: flex-end;
}
.footer-intern .container {
    display: flex;
    justify-content: flex-end;
}
.footer-intern ul {
    width: 600px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 24px;
    padding: 50px 0 40px;
    font-family: "helveticaregular";
}
.footer-intern ul a {
    color: #ffffff;
    font-size: 24px;
    font-family: "helveticaregular";
    text-decoration: underline;
}
.nibo-hero {
    background: #f1d500;
    padding: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.nibo-hero p {
    font-family: "helveticaregular";
    font-size: 32px;
}
.nibo-hero h2 {
    font-size: 110px;
    font-family: "helveticabold";
    letter-spacing: -0.05em;
    line-height: 97%;
    margin: 30px 0;
}
.nibo-hero img {
    margin-top: 100px;
}
.nibo-section-2 h3 {
    font-size: 58px;
    text-align: center;
    font-family: "helveticaregular";
    margin: 400px 0 400px;
}
.nibo-section-2 img {
    width: 100%;
}
.nibo-section-3 h3 {
    font-size: 58px;
    text-align: center;
    font-family: "helveticaregular";
    margin: 400px 0 400px;
}
.nibo-section-4 h3 {
    font-size: 58px;
    text-align: left;
    font-family: "helveticaregular";
    margin-bottom: 10px;
}
.nibo-section-4 p {
    font-size: 50px;
    text-align: left;
    font-family: "helveticaregular";
    line-height: 70px;
}
.nibo-section-4 .span-margin {
    margin-left: 218px;
}
.nibo-section-4 .color-1 {
    color: #082797;
}
.nibo-section-4 .color-2 {
    color: #085b97;
}
.nibo-section-4 .color-3 {
    color: #088e97;
}
.nibo-section-4 .color-4 {
    color: #089775;
}
.nibo-section-4 .color-5 {
    color: #089775;
}
.nibo-section-4 .color-6 {
    color: #08974a;
}
.nibo-section-5 {
    margin-top: 400px;
}
.nibo-section-5 p {
    color: #1c9708;
    font-size: 50px;
    text-align: left;
    font-family: "helveticaregular";
    margin-left: 218px;
    margin-bottom: 20px;
}
.nibo-section-5 .image-container {
    background-image: url("../img/ds/dolar-min.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-position: center;
}
.nibo-section-6 {
    margin-bottom: 300px;
}
.nibo-section-6 h3 {
    font-size: 58px;
    text-align: left;
    font-family: "helveticaregular";
    margin: 100px 0 100px 367px;
}
.nibo-section-6 .text {
    display: flex;
    margin-bottom: 50px;
}
.nibo-section-6 p {
    font-size: 22px;
    width: 550px;
}
.nibo-section-6 span {
    color: #085b97;
    font-size: 58px;
    font-family: "helveticaregular";
    width: 350px;
    text-align: right;
    margin-right: 30px;
}
.nibo-section-6 small {
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}
.nibo-section-7 {
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}
.nibo-section-7 strong {
    color: #ec167c;
    font-size: 150px;
    font-family: "helveticaregular";
}
.nibo-section-7 p {
    font-family: "helveticaregular";
    font-size: 38px;
    font-weight: 900;
    margin-left: 30px;
    margin-top: 20px;
}
.nibo-section-7 p span {
    text-decoration: underline;
}
.nibo-section-7 p small {
    font-size: 18px;
    font-family: "EB Garamond", serif;
    font-weight: 100;
    opacity: 0.5;
}
.nibo-section-8 div {
    display: flex;
    align-items: center;
    margin: 400px 0 300px;
    justify-content: center;
}
.nibo-section-8 div h3 {
    font-size: 58px;
    text-align: center;
    font-family: "helveticaregular";
}
.nibo-section-8 div img {
    margin: 0 30px;
}
.nibo-section-9 .considerations {
    padding-bottom: 0;
}
.glad-section-1 span {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.glad-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 300px;
}
.glad-hero h2 {
    font-size: 110px;
    font-family: "helveticabold";
    letter-spacing: -0.05em;
    line-height: 97%;
}
.glad-hero p {
    font-size: 35px;
    font-family: "helveticaregular";
}
.glad-hero .pink-square {
    background: #ff465c;
    width: 600px;
    height: 600px;
    margin-top: 250px;
    position: relative;
}
.glad-hero .pink-square img {
    position: absolute;
    left: 0;
    top: -70px;
    width: 550px;
}
.glad-section-2 {
    position: relative;
    margin-bottom: 250px;
}
.glad-section-2 h3 {
    font-size: 58px;
    text-align: center;
    font-family: "helveticaregular";
}
.glad-section-2 p {
    font-size: 22px;
    margin: 30px 0 100px;
    text-align: center;
}
.glad-section-2 img:last-child {
    position: absolute;
    right: 0;
}
.glad-section-3 {
    margin-bottom: 200px;
    position: relative;
}
.glad-section-3:after {
    content: "";
    background-image: url("../img/glad/words.svg");
    width: 100%;
    height: 270px;
    position: absolute;
}
.glad-section-3 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
}
.glad-section-3 .text {
    margin-left: 100px;
}
.glad-section-3 .text-margin {
    margin: 60px 0 60px 500px;
}
.glad-section-3 p {
    font-size: 22px;
}
.glad-section-4 {
    position: relative;
    margin: 700px 0 400px;
}
.glad-section-4:after {
    content: "";
    background: #000;
    width: 60%;
    height: 700px;
    display: block;
    position: absolute;
    bottom: -60px;
}
.glad-section-4 .black-square {
    color: #fff;
    position: relative;
    z-index: 1;
    margin-left: 100px;
}
.glad-section-4 .black-square .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
}

.glad-section-4 .black-square .container img {
    position: absolute;
    right: -220px;
    bottom: -280px;
}
@media screen and (min-width: 1280px) {
    .glad-section-4 .black-square .container img {
        right: -50%
    }
}

@media screen and (min-width: 1600px) {
    .glad-section-4 .black-square .container img {
        right: -30%;
    }
}
/* .glad-section-4:before {
    content: "";
    background-image: url("../img/glad/clear-interface-min.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 610px;
    height: 820px;
    position: absolute;
    right: 0;
    top: -100px;
    z-index: 2;
} */
.glad-section-4 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
    margin-bottom: 30px;
}
.glad-section-4 p {
    font-size: 22px;
}
.glad-section-5 .container {
    display: flex;
}
.glad-section-5 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
    margin-bottom: 20px;
}
.glad-section-5 p {
    font-size: 22px;
}
.glad-section-5 img {
    width: 690px;
    height: 541px;
}
.glad-section-6 {
    position: relative;
    margin-top: 200px;
}
.glad-section-6 h3 {
    font-size: 58px;
    font-family: "helveticaregular";
    margin-bottom: 20px;
}
.glad-section-6 p {
    font-size: 22px;
}
.glad-section-6 img {
    position: relative;
    margin-top: -200px;
}
.glad-section-7 {
    background: #0181f6;
    width: 100%;
    height: 775px;
    background-image: url("../img/glad/screens-min.png");
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: contain;
}
